---
layout: page
title: Categories
permalink: /categories
---

{% comment %}
<!--
- Create an empty array.
- Obtain a tag name and push it to the array.
- Sort the tag names.
- List tags as a tag cloud.
-->
{% endcomment %}

{% assign tag_names = "" | split: "|" %}

{% for posts_by_tag in site.categories%}
{% assign tag_names = tag_names | push: posts_by_tag.first %}
{% endfor %}


<ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
        <h1 id="posts-label">Categories</h1>
    </li>
    {% assign tag_names = tag_names | sort %}
    {% include tag_cloud.html tag_names=tag_names %}
    {% for tag_name in tag_names %}
    <li>
        <h2 id="{{tag_name}}">
            {{ tag_name | capitalize | replace: "_", " "}}
        </h2>

        {% for post in site.categories[tag_name] %}
        <a href="{{ post.url | prepend: baseurl }}">
            {{ post.title }}
        </a>
        {% endfor %}
        {% endfor %}
    </li>
</ul>